<div class="flex h-full justify-center pt-5">
  <div class="flex flex-col items-end">
    <div class="pb-2">
      <app-button (clickEvent)="goBack()">regresar</app-button>
    </div>

    <app-table [cols]="tableField" [total]="billTotal" [rows]="bills">
      <ng-template appTableBodyCell let-element let-key="key">
        <ng-container [ngSwitch]="key">
          <ng-container *ngSwitchCase="'createdAt'">
            {{ element[key] | date : "YYYY-MM-dd HH:mm:ss" }}
          </ng-container>

          <ng-container *ngSwitchDefault>
            {{ element[key] }}
          </ng-container>
        </ng-container>
      </ng-template>
    </app-table>
  </div>
</div>
