<div class="table-container">
  <table class="table">
    <thead class="table-header">
      <tr class="table-header-row">
        @for (col of cols; track col.field) {
          <th class="table-header-cell" [class.text-center]="col.align === 'center'" [class.text-right]="col.align === 'right'">
            {{ col.text }}
          </th>
        }
      </tr>
    </thead>

    <tbody class="table-body">
      @if (rows) {
        @for (row of rows; track $index) {
          <tr class="table-row">
            @for (col of cols; track col.field) {
              <td class="table-cell" [class.text-center]="col.align === 'center'" [class.text-right]="col.align === 'right'">
                <ng-container
                  [ngTemplateOutlet]="tableBodyCellTemplate || defaultTableBodyCell"
                  [ngTemplateOutletContext]="{ $implicit: row, key: col.field }"
                ></ng-container>
              </td>
            }
          </tr>
        }
      }
    </tbody>

    <tfoot class="table-footer">
      <tr>
        <td [attr.colspan]="cols.length" class="table-footer-cell">
          <div class="flex justify-end">
            <app-paginator 
              [total]="total" 
              [page]="page"
              [limit]="limit"
              (pageChange)="pageChange.emit($event)"
              (limitChange)="limitChange.emit($event)"
            ></app-paginator>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #defaultTableBodyCell let-element let-key="key">
  {{ getNestedValue(element, key) }}
</ng-template>
