<div class="flex h-full justify-center pt-5">
  <div class="warehouse-form">
    <h2>{{ pageTitle }}</h2>
    
    <form [formGroup]="warehouseForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input 
          type="text" 
          id="name" 
          formControlName="name" 
          placeholder="Ingrese el nombre del almacén"
        />
      </div>

      <div class="form-group">
        <label for="address">Dirección</label>
        <textarea 
          id="address" 
          formControlName="address" 
          placeholder="Ingrese la dirección del almacén"
        ></textarea>
      </div>

      <div class="button-group">
        <app-button (clickEvent)="onSubmit()">
          {{ isEditMode ? 'Actualizar' : 'Crear' }}
        </app-button>
        <app-button (clickEvent)="goBack()">Cancelar</app-button>
      </div>
    </form>
  </div>
</div>