<div class="grid grid-cols-1 h-full content-center justify-items-center dark:text-blue-500/80">
  <form
    class="flex flex-col border-2 rounded-md border-indigo-500 p-5"
    [formGroup]="signupForm"
    (submit)="handleSubmit($event)"
  >
    <label for="email">email</label>
    <input
      type="email"
      class="border-2 border-indigo-500 rounded-md"
      formControlName="email"
      id="email"
    />

    <label for="password" class="mt-2">contraseña</label>
    <input
      type="password"
      class="border-2 border-indigo-500 rounded-md"
      formControlName="password"
      id="password"
    />

    <button
      type="submit"
      class="rounded-md border-indigo-500 mt-2 bg-indigo-500 text-white hover:bg-indigo-800 hover:cursor-pointer disabled:cursor-not-allowed hover:disabled:bg-indigo-500"
      [disabled]="signupForm.status === 'INVALID' || isLoading"
    >
      Registrarse
    </button>

    <a
      routerLink="/login"
      class="mt-4 text-center text-sm text-indigo-600 hover:text-indigo-800 hover:underline block"
    >
      Ya tengo una cuenta
    </a>
  </form>
</div>
