<div class="flex h-full justify-center items-center flex-col">
  <div class="flex flex-col">
    <form [formGroup]="mainFormGroup">
      <div class="add-control flex items-center gap-3">
        <select
          name="stocks"
          id="stocks"
          class="border-2 border-indigo-500 rounded-md"
          placeholder="producto"
          formControlName="stock"
        >
          @for (stock of availableStocks; track stock._id) {
            <option [value]="stock._id">
              {{ stock.productId?.name }} ({{ stock.quantity }})
            </option>
          }
        </select>
        <input
          type="number"
          name=""
          id="count"
          class="border-2 border-indigo-500 rounded-md"
          placeholder="cantidad"
          formControlName="count"
        />
        <app-button (clickEvent)="handlerAddProduct()">agregar</app-button>
      </div>
    </form>

    <ul class="seller_list-container">
      @for (shopItem of shoppingCar; track shopItem) {
        <li class="seller_item-content" [formGroup]="shopItem">
          <span>{{ getStockProductName(shopItem.value['stockId']) }}</span>
          <input
            type="number"
            name="count"
            class="border-2 border-indigo-500 rounded-md"
            placeholder="cantidad"
            formControlName="count"
          />
          <app-button (clickEvent)="deleteShoppingItem(shopItem)">x</app-button>
        </li>
      }
    </ul>

    <div class="flex w-full flex-row gap-6 justify-end mt-3">
      <app-button (clickEvent)="handlerBack()">regresar</app-button>
      <app-button (clickEvent)="handlerSubmitBill()">Agregar venta</app-button>
    </div>
  </div>
</div>
